<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ester Ojala, veebiprogrammeerimine 2023</title>
</head>
<body>
	<img src="/banner/banner.png" alt="Veebiprogrammeerimise kursuse bänner">
	<h1>Eesti film</h1>
	<ul>
		<li><a href="/eestifilm">Eesti filmide avaleht</a></li>
		<li><a href="/eestifilm/singlefilm">Kindla filmi info päring</a></li>
		<li><a href = "/">Avalehele</a></li>
	</ul>
	<hr>
		<h3>Pealkiri</h3>
		<p>"<%= filmdata[0].title %>"</p>
		<h3>Valmimisaasta</h3>
		<p><%= filmdata[0].production_year %></p>
		<h3>Kestus</h3>
		<p><%= filmdata[0].duration %> minutit</p>
		<h3>Kirjeldus</h3>
		<p><%= filmdata[0].description %></p>
	<!--p><%= locals.notice || 'Ootel!' %></p>-->
</body>
</html>